form {
    width: 40%;
    background: wheat;
    padding: 30px;
    margin: auto;
    border-radius: 12px;

}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
    color: black;
}

input[type="text"],
input[type="date"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #999;
    font-size: 16px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

h3 {
    margin-top: 20px;
    color: black;
}

button {
    width: 100%;
    padding: 12px;
    background: green;
    border: none;
    color: white;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 6px;
    cursor: pointer;

}

button:hover {
    background: rgb(20, 90, 190);
}


.card_header {
font-size: 22px;
padding: 12px 20px;
font-weight: 600;
text-align: center; 
}

.flex-container {
  display: flex;
  gap: 20px;         
  justify-content: center;
  align-items: center;

  padding:5px;
}

.flex_item img {
  width: 100%;       
  height: 300px;       
  object-fit: cover;  
  border-radius: 10px;
 

}

.grid_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  padding: 5px;
  justify-items: center;
  align-items: center;
}

.grid_items img {
  width: 250px;
  height: 320px;
  object-fit: cover;
  border-radius: 8px;
  transition: 0.3s ease;
}

.grid {
        width: 80%;
        margin: auto;
        display: grid;

        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 120px);
        gap: 10px;
    }

    .box {
        border-radius: 5px;
    }

    .green { background: #71c852; }
    .red { background: #e84343; }
    .yellow { background: #f4b544; }

 
   
.box1 { grid-row: 1 / 4; grid-column: 1 / 2; }

.box2 { grid-column: 2 / 3; grid-row: 1 / 2; }
.box3 { grid-column: 3 / 4; grid-row: 1 / 2; }

.box4 { grid-column: 2 / 3; grid-row: 2 / 3; }
.box5 { grid-column: 3 / 4; grid-row: 2 / 3; }


.box6 { grid-column: 2 / 4; grid-row: 3 / 4; }

.box8 { grid-column: 2 / 4; grid-row: 4 / 5; }


.zindex-demo {
    position: relative;
    width: 400px;
    height: 250px;
    margin: 20px auto;
    border: 2px solid #333;
      border-radius: 8px;
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    z-index: 10; 
}













