body {
    font-family: Arial, sans-serif;
    background: oklch(90.324% 0.01206 16.912);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.title {
    animation: fade 2s ease-in-out;
}

.calc_container {
    width: 300px;
    padding: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(13, 13, 13, 0.2);
   
}

.display {
    background: black;
    color: white;
    padding: 15px;
    font-size: 32px;
    text-align: right;
    border-radius: 8px;
    margin-bottom: 15px;

    animation: glow 1.5s infinite alternate;
}

.btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    
}

.btn {
    padding: 15px;
    font-size: 20px;
    background: #757272;
    border: none;
    border-radius: 10px;

    animation: pop 0.3s ease;
}
.btn:hover {
    background: #bbb;
    cursor: pointer;
}

@keyframes glow {
    from { box-shadow: 0 0 5px #fff; }
    to { box-shadow: 0 0 15px #00ffcc; }
}

@keyframes pop {
    0% { transform: scale(0.9); }
    100% { transform: scale(1); }
}

@keyframes fade {
    from { opacity: 0; }
    to   { opacity: 1; }
}
